<header class="sticky-top">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Gatito Book
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <ng-container *ngIf="user$ | async as user; else login">
          <li><a><i class="fa fa-user-circle mr-1"></i> {{ user.name }} </a></li>
          <li (click)="logout()"><a>Logout</a></li>
        </ng-container>
      </ul>
    </div>
  </nav>

  <ng-template #login>
    <li>
      <a [routerLink]="['']">Login</a>
    </li>
  </ng-template>

</header>
